<div class="container">
<div class="info" xmlns="http://www.w3.org/1999/html">
  <div class="image">
    <img src="assets/me2.jpg">
  </div>
  <div class="abt">
    <div class="words">
      <div class="heading">
        <div class="one"><span>I am a&nbsp;</span></div>
        <div class="two"><span class="capit">software developer</span>
        </div>
      </div>

      <div class="more">
        <p>web developer, machine learning engineer and a gamer </p>
      </div>
    </div>
    <div class="icons">
      <a href="https://www.facebook.com/profile.php?id=100014453199163"><i class="fa fa-facebook"></i></a>
       <a href="https://www.linkedin.com/in/husam-tuffaha-958899237/"> <i class="fa fa-linkedin"></i></a>
      <a href="https://www.instagram.com/husam_sameeh/" ><i class="fa fa-instagram"></i></a>
      <a href="https://github.com/husamsameeh"> <i class="fa fa-github"></i></a>
    </div>
  </div>
</div>
</div>
