<div class="all">
  <div class="header">
    <p>About <span class="white">Me</span> </p>
  </div>

<div class="container">
  <div class="image">
    <img src="assets/me.jpg">
  </div>
  <div class="content">

    <div class="words">
      <p class="title">My Name Is Husam.</p>
      <p class="par">I am a 23 years old software developer from palestine , I've graduated from Birzeit University with a bachelor
      degree in computer engineering .</p>

      <div class="mInfo">
        <span class="yellow">age: </span>
        <span>23</span>
        <br>
        <span class="yellow">gender: </span>
        <span>male</span>
        <br>
        <span class="yellow">languages: </span>
        <span>Arabic, English</span>

      </div>
      <div class="btn">
        <button type="button">Download CV</button>
      </div>
    </div>
  </div>

</div>
</div>
