<div class="all">

  <div class="heading">
    <p class="title">My <span class="yellow">Skills</span> </p>
  </div>

  <div class="container">
    <div class="skills-bar">
      <div class="bar">

        <div class="info">
          <span>HTML</span>
        </div>
        <div class="progress-line html">
          <span></span>
        </div>
      </div>

      <div class="bar">

        <div class="info">
          <span>CSS</span>
        </div>
        <div class="progress-line css">
          <span></span>
        </div>
      </div>



      <div class="bar">
        <div class="info">
          <span>Java</span>
        </div>
        <div class="progress-line java">
          <span></span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <span>Python</span>
        </div>
        <div class="progress-line python">
          <span></span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <span>Spring</span>
        </div>
        <div class="progress-line spring">
          <span></span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <span>Problem Solving</span>
        </div>
        <div class="progress-line ps">
          <span></span>
        </div>
      </div>
    </div>

  </div>
</div>
