<div class="all">

  <div class="heading">
    <div class="title">
      Education
    </div>
  </div>

  <div class="cont">
    <div class="info">
      Birzeit university
      <br>
      <br>
      Bachelors Degree In Computer Engineering
      <br>
      <br>
      Class Of 2021
    </div>
    <div class="icon">
      <img src="assets/bzu.png">
    </div>
  </div>



  <div class="heading">
    <div class="title">
      <span>Work </span> Experience
    </div>
  </div>

  <div class="work-cont">

  <div class="work-info">
    <div class="box">
    <div class="date">2020-2021</div>
    <div class="occupation"> Backend Engineer</div>
    <div class="place"> Backend Developer for NOKIA via EXALT Technologies</div>
    </div>

    <div class="box">
      <div class="date">2021-2022</div>
      <div class="occupation"> Fullstack Developer</div>
      <div class="place">working on web applications as a freelancer</div>
    </div>

  </div>

  </div>

</div>
